.logo-signin {
  margin-bottom: 50px;
}

h1 {
  color: #313c11;
}

.signin {
  height: 100%;
  margin-top: 10%;
}

body {
  background-image: url();
  background-size:contain; 
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  height:100%;
}