.logo-signin {
  margin-bottom: 50px;
}

h1 {
  color: #313c11;
}

.signin {
  margin-top: 10%;
  margin-bottom: 10%;
}

.container-signin {
  background-image: url(bg-signin.png);
  background-size:contain; 
  background-repeat:no-repeat;
  background-position:center;
  height:100%;
}

